* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: 'Roboto', sans-serif;
}

html {
  width: 100vw;
}

body {
  background: #CCCCCC;
  padding-top: 80px;
}

footer {
  margin: 2px;
  font-size: .6em;
}